
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Welcome to Amazon Jungler Q&A!!</h1>

<!-- <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div> -->

 <form method='post' action=''>
    {% csrf_token %}
    <img src="https://th.bing.com/th/id/OIP.Sg_mx432bTnF0rPF4tDG5QHaE2?w=305&h=200&c=7&r=0&o=5&dpr=1.25&pid=1.7" style="width: 700px;height: 400px;">
    <br>
    {% for q  in questions%}

    <!-- <div class="form-group">
      <label for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
                {{q.op1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.op2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
            <label class="form-check-label" for="gridRadios1">
                {{q.op3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.op4}}
            </label>
        </div>
        <br>
    </div>     -->
    {% endfor %}
    <input id='timer' type='hidden' name="timer" value="">
    <br>
    <button type="submit" class="btn btn-primary">퀴즈하러가기!</button>
  </form>
    {% block script %}
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %}

</div>
{% endblock %}
 
